<div class="container" style="width:170px;">
    <div class="row">
        <div class="col-sm-4"></div>
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <form action="{{endpoint}}" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                        <input type="hidden" name="amount" value="{{add amount -1}}" />
                        <button class="btn btn-dark btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                    </form>
                </div>
                <input type="number" id="amount_{{id}}" class="form-control form-control-sm" value="{{amount}}" min="1" >
                <div class="input-group-prepend">
                    <form action="{{endpoint}}" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                        <input type="hidden" name="amount" value="{{add amount 1}}" />
                        <button class="btn btn-dark btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                    </form>
                </div>
                <script type="text/javascript">
                    document.getElementById("amount_{{id}}").onblur = (e)=>{
                        window.formfetch('{{endpoint}}', {                            
                            '_csrf': '{{csrfToken}}',
                            'amount': parseInt(e.target.value),
                        }).then(()=>{
                            window.location.reload();
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>