{{#section 'head'}}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<style>
    .login-card {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
        max-width: 700px;
    }

    .google-btn {
        width: 184px;
        height: 42px;
        background-color: #4285f4;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    }

    .google-btn .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: #fff;
    }

    .google-btn .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }

    .google-btn .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }

    .google-btn:hover {
        box-shadow: 0 0 6px #4285f4;
    }

    .google-btn:active {
        background: #1669f2;
    }

    .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

</style>
{{/section}}
<div class="login-card">
    <h4 class="text-center">Login to SuperShop</h4>
    <hr />
    <article class="card-body mx-auto pb-0" style="width: 400px;">
        <form class="login-form" action="/login?returnUrl={{returnUrl}}" method="POST">

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="email" class="form-control" placeholder="Email address" type="email"
                    value="{{oldInput.email}}">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="Create password" type="password"
                    value="{{oldInput.password}}">
            </div>
            {{#if error}}
            <p class="float-right text-danger font-weight-bold">
                {{error}}
            </p>
            {{/if}}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Sign in</button>
            </div>
        </form>
    </article>

    <div class="mb-4 ml-auto mr-auto" style="width: 500px;display: flex; justify-content: center; gap: 20px; align-items: center;">
        <div >
            <a href="/auth/google">
                <div class="google-btn">
                    <div class="google-icon-wrapper">
                        <img class="google-icon"
                            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                    </div>
                    <p class="btn-text"><b>Sign in with Google</b></p>
                </div>
            </a>
        </div>

        <div>
            <a href="/auth/facebook" class="btn btn-social btn-facebook">
                <i class="fab fa-facebook-f"></i>Sign in with Facebook
            </a>
        </div>
        <div class="clearfix"></div>

    </div>

    <p class="text-center">Don't have an account? <a href="/register">Sign up</a> </p>

</div>