{{#section 'head'}}
<style>
    .cart-container {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }


</style>
{{/section}}


<div class="cart-container mt-4">
    <div class="list-group">
        {{#each cartItems}}
        <div class="list-group-item list-group-item-action">
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <img src="{{item.imageUrl}}" style="height: 150px; width: 250px;" />
                <div style="width: 20%;">
                    <div class="d-flex justify-content-between">
                        <h2 class="mb-1 font-weight-bold">{{item.name}}</h2>
                    </div>
                    <p class="mb-1">{{item.description}}</p>
                    <small class="font-italic">Owner: {{item.owner.fullname}}</small>
                </div>
                <div>
                    <h3 class="text-center">Amount</h3>
                    {{> plusMinusInput
                    csrfToken=../csrfToken
                    endpoint=(concat "/change-cart-amount/" item.id) }}
                </div>
                <div style="width: 20%;">
                    <h3 class="text-center font-weight-bold">Price</h3>
                    <h4 class="text-center">{{formatPrice priceSum}}</h4>
                </div>
                <div>
                    <form action="/delete-from-cart/{{item.id}}" method="post">
                        <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
                        <button type="submit" class="btn" style="font-size: 34px; color: darkslategray;">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {{/each}}
        <div class="list-group-item list-group-item-action" style="padding: 10px 50px 0 50px; ">
            <hr />
        </div>
        <div class="list-group-item list-group-item-action" style="padding: 0 50px 30px 50px;">
            <div style="float: right;" class="mt-3">
                <h3 class="font-weight-bold">
                    Total price: {{formatPrice totalItemsPrice}}
                </h3>
            </div>
        </div>
        <form method="get" action="/checkout" style="margin-left: auto;">
            <button class="btn  btn-primary  mt-3" type="submit" style="font-size: 24px;">
                <i class="fas fa-cart-arrow-down"></i> Checkout
            </button>
        </form>
    </div>
</div>